*{
    font-family: sans-serif;
}
body{
    background-color: #f8f3f6;
    margin: 0%;
}
header{
    background-color: #ff9944;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
header img{
    margin: 0;
    margin-left: 100px;
    height: 250px;
    padding-bottom: 10px;
}
h2{
    font-size: 40px;
}
.A2{
    border: 10px;
    border-radius: 20px;
    border-color: #f8f3f6;
    border-style: solid;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;

    background-color: #f8f3f6;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.500);
}
ul{
    list-style: none;
}
header nav ul{
    list-style: none;
    padding: 0;
    font-size: 40px;
}
header nav ul li{
    padding: 10px;
    display: inline;
    margin-left: 80px;
    padding-left: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.500);
}
header nav ul:first-child{
    margin-left: 0;
}
header nav ul:last-child{
    margin-right: 60px;
}
header nav ul li a{
    text-decoration: none;
    color: #231f20;
}
.atp{
    background-color: #f8f3f6;
    text-align: center;
    margin: auto;
    padding: 0%;
    
    color: #231f20;
    font-size: 35px;
}
div.uane{
    text-align: center;
    padding: 50px;
    
    color: #ff9944;
    font-size: 60px;
    background-color: #231f20;
}
/* tabla de precios*/
div table {
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 20px;
    margin-top: 80px;

    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.500);
    font-family: sans-serif;
    background-color: #231f20;
    color: #f8f3f6;
}
thead{
    background: #292425;
}
th{
    padding: 80px 120px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
}
div table tbody td{
    padding: 20px;
    border-radius: 20px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2) ;
}
.bordes{
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.bordes2{
    border-bottom-right-radius: 0%;
}
.bordes3{
    border-bottom-left-radius: 0%;
}
div table tbody tr:hover{
    background: #292425;
    border-radius: 20px;
}
.precios{
    text-align: center;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
/* fotos */
.body-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image-container {
    width: 400px;
    margin: 20px;
    position: relative;
}
.main-image img {
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Agregado para evitar que el overlay bloquee eventos */
}
.image-container:hover .overlay {
    opacity: 1;
    pointer-events: auto; /* Restaurar eventos cuando se muestra el overlay */
}
/* botones */
.pdpp{
    padding-top: 50px;
    margin-left: 22%;
}
.pdp{
    list-style: none;
    padding: 15px;
    margin: 20px;
    display: inline-flex;

    text-decoration: none;
    background-color: #1d191a;
    border-radius: 25px;
}
/* pie de pagina */
footer{
    margin-top: 100px;
    background-color: #1d191a;
    border-collapse: collapse;
}
footer table{
    margin: 0 auto;
    border-collapse: collapse;
    padding: 0%;
}
.fatp{
    margin-right: 50%;
    
    font-size: 80px;
    color: #ff9944;
}
footer tr td img{
    margin-left: 120%;
    margin-top: 70px;
    margin-bottom: 50px; 
}